:local .nav {
  position: fixed;
  top: .9rem;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 .9rem;
  width: 100%;
  height: 1rem;
  background: #ffffff;
  z-index: 99;
}
:local .jobNav {
  position: fixed;
  top: .9rem;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 .3rem;
  width: 100%;
  height: 1rem;
  background: #ffffff;
  z-index: 99;
}
:local .navItem {
  display: block;
  width: .88rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .28rem;
  color: #bbbbbb;
  text-align: center;
}
:local .myTask {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 1.58rem;
}
:local .leftArea {
  padding: .16rem .3rem;
  width: 5.4rem;
}
:local .taskTitle {
  height: .46rem;
  line-height: .46rem;
  font-size: .3rem;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
:local .taskInfoTitle,
:local .taskInfo {
  line-height: .4rem;
  font-size: .24rem;
}
:local .taskInfo {
  color: #37d3cb;
}
:local .rightArea {
  padding: .09rem .3rem .09rem 0;
  width: 1.86rem;
}
:local .rightArea p {
  color: #ffffff;
  text-align: right;
}
:local .status {
  line-height: .4rem;
  font-size: .24rem;
}
:local .taskSalary {
  line-height: .6rem;
  font-size: .44rem;
}

:local .listWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 500%;
}

/*我的投递列表style*/
:local .item {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  padding: 0 .16rem 0 .18rem;
  width: 100%;
  height: 1.78rem;
  border-bottom: 1px solid #dbedff;
}
:local .jobLogo {
  margin-top: .3rem;
}
:local .textArea {
  flex: 1;
  margin-left: .18rem;
}
:local .titleArea {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: .12rem;
}
:local .mainTitle {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}
:local .title {
  max-width: 3.7rem;
  line-height: .54rem;
  font-size: .3rem;
  font-weight: normal;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
:local .titleDescription {
  margin-left: .1rem;
  font-size: .24rem;
  color: #37d3cb;
}
:local .descriptionArea {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
:local .jobTypeArea,
:local .suplusCountArea {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
:local .jobType {
  line-height: .44rem;
  font-size: .24rem;
  color: #bbbbbb;
}
:local .settlementType {
  padding: 0 .1rem;
  margin-left: .16rem;
  line-height: .34rem;
  font-size: .2rem;
  color: #37d3cb;
  border: 1px solid #37d3cb;
  border-radius: 30px;
}
:local .salaryArea {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
:local .salary {
  float: left;
  line-height: .44rem;
  font-size: .44rem;
  color: #fdba32;
}
:local .salaryInfo {
  font-size: .24rem;
  color: #bbbbbb;
}
:local .jobDetalStatus {
  line-height: .48rem;
  font-size: .24rem;
  color: #37d3cb;
}
:local .dateAndLocation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: .12rem;
}
:local .date p,
:local .location p {
  line-height: .24rem;
  font-size: .24rem;
  color: #bbbbbb;
}
:local .controllJobArea {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: .88rem;
}
:local .controllJob {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  width: 2.1rem;
  border-left: 1px solid #dbedff;
}
:local .controllJob a {
  width: 100%;
  height: 100%;
  font-size: .28rem;
  line-height: .88rem;
  color: #37d3cb;
  text-align: center;
}

/* 线上兼职列表样式 */
:local .suplusCount {
  font-size: .24rem;
  color: #37d3cb;
}
:local .oldSalary {
  font-size: .24rem;
  color: #bbb;
}
:local .suplusCountTitle,
:local .endTimeTitle {
  font-size: .24rem;
  color: #bbb;
}
:local .load {
  line-height: 40px;
  font-size: 12px;
  text-align: center;
}
:local .restTime {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 .3rem;
  height: .88rem;
  border-top: 1px solid #dbedff;
}